* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: rgb(249, 250, 251);
    border-radius: 10px;
}

.container h1 {
    color: blue;
}

.container p {
    color: rgb(152, 152, 152);
    padding: 20px;
}

button {
    padding: 10px;
    margin: 50px;
    background-color:rgb(228, 43, 74);
    color:white
}