* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    background-color: rgb(249, 250, 251);
    border-radius: 10px;
}

.container h1 {
    color: blue;
    padding: 2px;
    margin: 5px 0;
}

.container p {
    color: rgb(152, 152, 152);
    padding: 20px;
}

#result {
    font-size: 18px;
    padding: 10px;
    margin: 0 0 20px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 50px;
    background-color: rgb(228, 43, 74);
    color: white;
    border: none;
    border-radius: 8px;
}

#formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

label {
    display: block;
    padding: 15px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    display: block;
}